.form-control {
	.btn {
		border-radius: 3px;
	}
}

.form-control,
.form-control:focus,
.input-group-addon {
	border-color: #e1e1e1;
}

.login-form {
	width: 390px;
	margin: 0 auto;
	padding: 30px 0;

	form {
		color: #999;
		border-radius: 3px;
		margin-bottom: 15px;
		background: #fff;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		padding: 30px;
	}

	h2 {
		color: #333;
		font-weight: bold;
		margin-top: 0;
	}

	hr {
		margin: 0 -30px 20px;
	}

	.form-group {
		margin-bottom: 20px;
	}

	label {
		font-weight: normal;
		font-size: 13px;
	}

	.form-control {
		min-height: 38px;
		box-shadow: none !important;
	}

	.input-group-addon {
		max-width: 42px;
		text-align: center;
	}

	input[type="checkbox"] {
		margin-top: 2px;
	}

	.btn {
		font-size: 16px;
		font-weight: bold;
		// background: #19aa8d;
		border: none;
		min-width: 140px;
	}

	.btn:hover {
		// background: #179b81;
		outline: none;
	}

	.btn:focus {
		// background: #179b81;
		outline: none;
	}

	a {
		// color: #179b81;
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}

	form a {
		color: #19aa8d;
		text-decoration: none;
	}

	form a:hover {
		text-decoration: underline;
	}

	.fa {
		font-size: 21px;
		color: black;
		margin-right: 10px;
	}

	.fa-paper-plane {
		font-size: 18px;
	}
}

.errorValidation {
	font-size: 9;
	color: red;
}
